<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>login-validation site</title>
</head>
<body>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/register">register</a></li>
            <li><a href="/login">login</a></li>
        </ul>
    </nav>
    
    <div class="div1">
        <div class="register-box"><a href="/register"><img src="./images/register.png"></a></div>
        <div class="login-box"><a href="/login"><img src="./images/login.jpg"></a></div>
    </div>
</body>
</html>